:root{
  [data-theme='light']{
    --background-body: #E9EBEC;
    --btn-color:#fff;
    --filter-img:none;
    --text-color: #575757;
    --heading-color-text:  #3D3D3D;
    --border-color:#fff
  }

  [data-theme='dark']{
    --background-body: #242424;
    --border-color:transparent;
    --btn-color:#171F26;
    --filter-img:0.5;
    --text-color: #fff;
    --heading-color-text:  #fff;
  }
}
